<b><h1><%= @painting.title %></h1></b>
<h2>Artwork done by: <%= link_to  @painting.artist.name, @painting.artist %></h2>
<p>This art is housed in: <%= link_to @painting.museum.name, @painting.museum %></p>
