<h1>Welcome to the Museum App</h1>

<p><%= link_to "Browse by Museums", museums_path %></p>
<p><%= link_to "Browse by Artists", artists_path %></p>
<p><%= link_to "Browse by Paintings", paintings_path %></p>
